# Basic Python Programming for data manipulation

The material covers the knowledge of basic python programming required to perform data analysis.

In [2]:
x = 1
y = 1
x + y

2

In [3]:
x

1

### Types of variable

In [ ]:
type(x)

In [ ]:
type(2.1)

In [ ]:
type(None)

## Python truth value:- 

Any object is considered to be equivalent to Boolean truth unless it's class define a Bool method that return false. In the following cases, we will receive false values.

1. False and None evaluate as false.
2. Numeric zero values: 0,0.0,0j
3. Decimal(0), Fraction(0,x)
4. Empty sequences/collections: '',(),[],{}
5. Empty sets and ranges:- range(0),set()

In [ ]:
l1 = []
d1 = {}

In [ ]:
bool(l1)
bool(d1)

In [ ]:
x= None
bool(x)

In [ ]:
x = ''
bool(x)

In [ ]:
x = 0.0
bool(x)

In [ ]:
x = set()
bool(x)

Write a function to add two number

In [5]:
def add_number(x,y):
    return x+y

In [6]:
add_number(2,3)

5

Write function to add three number and make 3rd parameter as default

In [9]:
def add_number(x,y,z = None):
    if z == None:
        return x+y
    else:
        return x+y+z

In [11]:
add_number(2,3,2)

7

Write function to add three number and make 3rd parameter as default and 4th parameter as flag

In [23]:
def add_number(x,y,z = None, flag = False):
    if flag ==True:
        print('Flag is true')
    if z==None:
        return x+y
    else:
        return x+y+z

In [24]:
add_number(2,3)

5

In [27]:
a = add_number
a(2,3)

5

## Collections in Python

Collections in Python are containers that are used to store collections of data, for example, list, dict, set, tuple etc.


`Tuples` are an immutable data structure (cannot be altered).

In [42]:
x = (1,2,'a','c')

In [43]:
type(x)

tuple

`Lists` are a mutable data structure.

In [44]:
x = [1,2,'a','b']

In [38]:
x.append(4)

In [46]:
type(x)

list

In [47]:
for item in x:
    print(item)

1
2
a
b

In [50]:
i=0
while i < len(x):
    print(x[i])
    i=i+1

1
2
a
b

In [52]:
1 in [1,2,3]

True

#### Slicing [start,end,step]

In [4]:
x = 'This is a string'

x[1]
x[0:10]

'This is a '

In [5]:
x = [1,2,3,4,5]

In [6]:
x[-1]

5

In [12]:
x[1:4:2]

[2, 4]

In [13]:
x[::-1]

[5, 4, 3, 2, 1]

In [69]:
x = 'Dr. Johns Brooks'

print(x[4:9])

Johns

In [76]:
Name = 'Ajit Chaudhary'

In [77]:
Name.split(' ')[0]
Name.split(' ')[-1]

'Chaudhary'

In [78]:
'Ajit'+str(2)

'Ajit2'

### Dictionaries
Dictionaries are used to store data values in key:value pairs.

In [88]:
x = {'John':'John@gmail.com','Jeff':'Jeff@gmail.com'}
x['John']

'John@gmail.com'

In [90]:
for i in x:
    print(i)

John
Jeff

In [91]:
for i in x:
    print(x[i])

John@gmail.com
Jeff@gmail.com

In [86]:
for key,value in x.items():
    print(key,value)

John John@gmail.com
Jeff Jeff@gmail.com

In [83]:
for i in x.keys():
    print(i)

John
Jeff

In [84]:
for i in x.values():
    print(i)

John@gmail.com
Jeff@gmail.com

In [92]:
x = ('Ajit','Chaudhary','it.akchaudhary57@gmail.com')
FName,LastName,Email = x

In [93]:
FName

'Ajit'

[Python Build-in Functions](https://www.w3schools.com/python/python_ref_functions.asp#:~:text=Python%20Built%20in%20Functions%20%20%20%20Function,an%20object.%20...%20%2036%20more%20rows%20): - Python has a set of built-in functions.

In [25]:
list1 = [1,5,6,0]

__`any`__ will return True, if any of the sequence variable are True

In [27]:
any(list1)

True

__`all`__ will return True, if all of the sequence variable are True

In [29]:
all(list1)

False

__`dict` : -__ The dict() function creates a dictionary.

In [ ]:
x = dict(name = "John", age = 36, country = "Norway")
x

__`Iterators: -`__ Iterator in python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets. The iterator object is initialized using the iter() method. It uses the next() method for iteration.

__`iter`__ function

In [31]:
list1 = ["January","Febrary","March","April"]
days = ["Sunday","Monday","Tuesday","Wednesday"]

# use iter to create an iterator over a collection
i = iter(list1)
print(next(i))
print(next(i))
print(next(i))

January
Febrary
March

In [ ]:
for i in range(len(list1)):
    print(i+1,list1[i])

`Enumerate` : - Using enumerate reduces code and provides a counter

In [33]:
for i,m in enumerate(list1,start = 1):
    print(i,m)

1 January
2 Febrary
3 March
4 April

`Zip` : - Use zip to combine sequences

In [34]:
for i in zip(list1,days):
    print(i)

('January', 'Sunday')
('Febrary', 'Monday')
('March', 'Tuesday')
('April', 'Wednesday')

In [35]:
for i,m in enumerate(zip(list1,days),start = 1):
    print(i,m)

1 ('January', 'Sunday')
2 ('Febrary', 'Monday')
3 ('March', 'Tuesday')
4 ('April', 'Wednesday')

To work with large amount of data, we need to perform several Transform functions like `sorted`, `filter`, `map`

In [39]:
nums = (1,2,3,4,5,6,7,8)
chars ='AjitKumarChaudhary'
grade = (90,80,75,70,91,95,98,99)

Use `filtes` to filter results from a list

In [37]:
def filterodds(x):
    if (x%2 == 0):
        return True
    else:
        return False

In [40]:
# Use filter to remove items from a list
list(filter(filterodds,nums))

[2, 4, 6, 8]

In [41]:
# function to filter UpperCases characters
def filterUpper(x):
    if x.isupper():
        return False
    else:
        return True

In [42]:
list(filter(filterUpper,chars))

['j', 'i', 't', 'u', 'm', 'a', 'r', 'h', 'a', 'u', 'd', 'h', 'a', 'r', 'y']

`map function : -` Creates an iterator that takes one or more sequences of values and produces a new sequence by applying a given function to each value in the original sequences

In [43]:
def SquareNum(x):
    return x**2

In [44]:
list(map(SquareNum,nums))

[1, 4, 9, 16, 25, 36, 49, 64]

`sorted` function : - it is used to sort the list

In [46]:
def grades(x):
    if x>=80:
        return "A"
    elif x>=65 and x<80:
        return "B"
    elif x>=50 and x<65:
        return "C"
    return "F"

In [47]:
list(sorted(map(grades,grade)))

['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B']

## String Formatting

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} items at a price of {} each for the total of {}'

print(sales_statement.format(sales_record['person'],sales_record['num_items'],sales_record['price'],
                             sales_record['price']*sales_record['num_items']))

#### Template strings

Python Templates are used to substitute data into strings. With Templates, we gain a heavily customizable interface for string substitution (or string interpolation).

In [3]:
# Usual string formatting with format()
str1 = "Welcome to {} Job ready course with {}".format("Data Analyst","Ajit")
print(str1)

Welcome to Data Analyst Job ready course with Ajit

In [8]:
from string import Template

In [19]:
#Create a template with placeholders
temp1 = Template("Welcome to ${CourseName} job ready course with ${author}")

#Use the substitute method with keyword arguments
str2 = temp1.substitute(CourseName = "Data Analyst", author = "Ajit")
print(str2)

Welcome to Data Analyst job ready course with Ajit

In [22]:
# Use a substitute method with a dictionary
data = {
    "CourseName":"Data Analyst",
    "author":"Ajit"
}
str3 = temp1.substitute(data)
print(str3)

Welcome to Data Analyst job ready course with Ajit

In [23]:
temp2 = Template("My monthly income is $$${income}")

str2 = temp2.substitute(income = "1000")
print(str2)

My monthly income is $1000

__Reasons: -__
1. For Simple variable substitution, the tempalate string method is much eassier to use and the code is more readable.
2. Format string with extra security then template method would be a better way to go.